<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lll.supportotherdemos">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">


        <activity android:name=".SupportOtherDemos">

        </activity>

        <activity
            android:name=".transition.SceneUsage"
            android:label="@string/scene"
            android:theme="@style/Theme.Transition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".transition.CustomUsage"
            android:label="@string/custom"
            android:theme="@style/Theme.Transition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".transition.BeginDelayedUsage"
            android:label="@string/beginDelayed"
            android:theme="@style/Theme.Transition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--navigation-->
        <activity
            android:name=".appNavigation.ViewFromOtherTaskActivity"
            android:label="Navigation/ViewFromOtherTask"
            android:theme="@style/Theme.Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appNavigation.NotificationsActivity"
            android:label="Navigation/NotificationsActivity"
            android:theme="@style/Theme.Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appNavigation.InterstitialMessageActivity"
            android:label="InterstitialMessageActivity"
            android:theme="@style/Theme.Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appNavigation.ContentCategoryActivity"
            android:label="Navigation/ContentCategoryActivity"
            android:theme="@style/Theme.Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appNavigation.ContentViewActivity"
            android:label="Navigation/ContentViewActivity"
            android:theme="@style/Theme.Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".appNavigation.OutsideTaskActivity"
            android:label="Navigation/OutsideTaskActivity"
            android:theme="@style/Theme.Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".appNavigation.PeerActivity"
            android:label="Navigation/PeerActivity"
            android:theme="@style/Theme.Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".appNavigation.SimpleUpActivity"
            android:label="Navigation/SimpleUpActivity"
            android:theme="@style/Theme.Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".vectordrawable.AnimatedButtonBackground"
            android:label="vectordrawable/AnimatedButton"
            android:theme="@style/Theme.Transition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vectordrawable.PathMorphActivity"
            android:label="vectordrawable/PathMorphActivity"
            android:theme="@style/Theme.vector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vectordrawable.ExampleActivity"
            android:label="vectordrawable/ExampleActivity"
            android:theme="@style/Theme.vector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vectordrawable.FillInHeartActivity"
            android:label="vectordrawable/FillInHeartActivity"
            android:theme="@style/Theme.vector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vectordrawable.RotateActivity"
            android:label="vectordrawable/RotateActivity"
            android:theme="@style/Theme.vector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!---->
        <activity
            android:name=".leanback.LeanbackActivity"
            android:label="leanback/main"
            android:theme="@style/Theme.Example.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".leanback.BrowseActivity"
            android:exported="true"
            android:label="leanback/browse"
            android:theme="@style/Theme.Example.Leanback.Browse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>


        <activity
            android:name=".leanback.BrowseAnimationActivity"
            android:exported="true"
            android:label="leanback/browseAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".leanback.DetailsActivity"
            android:exported="true"
            android:label="leanback/details"
            android:theme="@style/Theme.Example.Leanback.Details">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--<activity android:name="DetailsSupportActivity"-->
        <!--android:theme="@style/Theme.Example.Leanback.Details"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".leanback.SearchDetailsActivity"
            android:exported="true"
            android:label="leanback/SearchDetails"
            android:theme="@style/Theme.Example.Leanback.SearchDetails">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--<activity android:name="SearchDetailsSupportActivity"-->
        <!--android:theme="@style/Theme.Example.Leanback.SearchDetails"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".leanback.RowsActivity"
            android:exported="true"
            android:label="leanback/row"
            android:theme="@style/Theme.Example.Leanback.Rows">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--<activity android:name="RowsSupportActivity"-->
        <!--android:theme="@style/Theme.Example.Leanback.Rows"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".leanback.PlaybackOverlayActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:label="leanback/playback"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--<activity android:name="PlaybackOverlaySupportActivity"-->
        <!--android:configChanges=-->
        <!--"screenSize|smallestScreenSize|screenLayout|orientation"-->
        <!--android:resizeableActivity="true"-->
        <!--android:supportsPictureInPicture="true"-->
        <!--android:launchMode="singleTask"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".leanback.VerticalGridActivity"
            android:exported="true"
            android:label="leanback/VerticalGrid"
            android:theme="@style/Theme.Example.Leanback.VerticalGrid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--<activity android:name="VerticalGridSupportActivity"-->
        <!--android:theme="@style/Theme.Example.Leanback.VerticalGrid"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".leanback.SearchActivity"
            android:exported="true" />

        <!--<activity android:name="SearchSupportActivity"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".leanback.BrowseErrorActivity"
            android:exported="true"
            android:label="leanback/BrowseError"
            android:theme="@style/Theme.Example.Leanback.Browse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--<activity android:name="BrowseErrorSupportActivity"-->
        <!--android:theme="@style/Theme.Example.Leanback.Browse"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".leanback.HorizontalGridTestActivity"
            android:exported="true"
            android:label="leanback/HorizontalGridTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".leanback.GuidedStepActivity"
            android:exported="true"
            android:label="leanback/GuidedStep"
            android:theme="@style/Theme.Example.Leanback.GuidedStep"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--<activity android:name="GuidedStepSupportActivity"-->
        <!--android:theme="@style/Theme.Example.Leanback.GuidedStep"-->
        <!--android:windowSoftInputMode="adjustResize"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".leanback.GuidedStepHalfScreenActivity"
            android:exported="true"
            android:label="leanback/GuidedStep"
            android:theme="@style/Theme.Example.Leanback.GuidedStep.Half"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--<activity android:name="GuidedStepSupportHalfScreenActivity"-->
        <!--android:theme="@style/Theme.Example.Leanback.GuidedStep.Half"-->
        <!--android:windowSoftInputMode="adjustResize"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".leanback.DetailsPresenterSelectionActivity"
            android:exported="true"
            android:label="leanback/GuidedStep"
            android:theme="@style/Theme.Example.Leanback.GuidedStep">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".leanback.OnboardingActivity"
            android:exported="true"
            android:label="leanback/GuidedStep"
            android:theme="@style/Theme.Example.Leanback.Onboarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.support.other.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".OnboardingSupportActivity"-->
        <!--android:theme="@style/Theme.Example.Leanback.Onboarding"-->
        <!--android:exported="true" />-->

    </application>

</manifest>
